<div class="product-list-item">
  <div class="product-list-item__image-wrapper">
    <img src="/static/images/productimages/main/{{product.image_url}}" class="product-list-item__image"/>
  </div>
  <div>
    <p class="product-list-item__product-name">{{product.name}}</p>
  </div>
  <div>
    <p class="product-list-item__product-price">${{product.price}}</p>
  </div>
  <div>
    <form method="post" action="/catalogue">
      <input type="hidden" name="product_id" value="{{product.id}}"/>
      <input type="hidden" name="return_url" value="{{request.get_full_path}}"/>
      <button type="submit" name="submit" class="product-list-item__button">Add to Cart</button>
    </form>
  </div>
</div>