<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} - Building Materials E-Store</title>
  <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
  <link rel="stylesheet" type="text/css" href="/static/content/bmes.css" />
  <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>

<body>
<div class="navbar navbar-default navbar-static-top layout__nav-wrapper">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="layout__nav-brand-wrapper">
        <a href="/" class="layout__nav-brand">Building Materials E-Store</a>
      </div>
    </div>
    <div class="navbar-collapse collapse navbar-right layout__cart-wrapper">
      <ul class="nav navbar-nav">
        <li>{% include 'partials/cart_summary_widget.html' %}</li>
      </ul>
    </div>
  </div>
</div>

<div class="container body-content layout__content-wrapper">
  {% block content %}{% endblock %}
  <hr />
  <footer>
    <p class="layout__copyright">&copy; {{ year }} - Building Material E-Store</p> 
  </footer>
</div>

<script src="/static/scripts/jquery-1.10.2.js"></script>
<script src="/static/scripts/bootstrap.js"></script>
<script src="/static/scripts/respond.js"></script>
{% block scripts %}{% endblock %}

</body>
</html>
